@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/login_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
</head>
<body>  
<div class="container">
  <h2>Welcome Admin</h2>
</div>
</body>
</html>

