@{
    ViewBag.Title = "SponsorDashBoard";
    Layout = "~/Views/Shared/login_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sponsor DashBoard</title>
</head>
<body>  
<div class="container">
  <h2>Welcome Sponsor</h2>
</div>
</body>
</html>
