@{
    ViewBag.Title = "SchoolDashBoard";
    Layout = "~/Views/Shared/login_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>School DashBoard</title>
</head>
<body>  
<div class="container">
  <h2>Welcome School</h2>
</div>
</body>
</html>
