@using AcademicPramotions.ViewModels
@model List<AcademicPramotions.ViewModels.SchoolRequirementsVM>
@using GridMvc.Html
@{
    ViewBag.Title = "ViewPostedRequirements";
    Layout = "~/Views/Shared/login_Layout.cshtml";
}
@*<div class="clear-both" style="">
    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
            </div>
            Posted School Requirements
        </div>
        <div class="grid-wrap clearfix ng-scope">
            @Html.Grid(Model).Columns(columns =>
{

    columns.Add(o => o.ItemName).Titled("Item Name");

    columns.Add(o => o.Quantity).Titled("Quantity");

    columns.Add(o => o.CreatedDate).Titled("Posted Date");

}).WithPaging(10).Sortable().Filterable().WithMultipleFilters()
        </div>
    </div>
</div>*@
<div>
    <table id="t01">
        <thead>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Created Date</th>
        </thead>
        @foreach (var item in Model)
        {  
            <tr>
                <td>@item.ItemName</td>
                <td>@item.Quantity</td>
                <td>@item.CreatedDate</td>
            </tr>  
        }
    </table>
</div>
<style>  
table#t01 {  
width: 100%;  
background-color: #f1f1c1;  
}  
  
table#t01 tr:nth-child(even) {  
background-color: #eee;  
}  
table#t01 tr:nth-child(odd) {  
background-color: #fff;  
}  
table#t01 th {  
color: white;  
background-color:gray;  
}  
table, th, td {  
border: 1px solid black;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
table, th, td {  
border: 1px solid black;  
border-collapse: collapse;  
}  
th, td {  
padding: 15px;  
}  
</style> 

