    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <form name="loginForm" class="login-form" ng-submit="LoginSubmit()" autocomplete="off">
        <div class="form-group">
            <label class="col-sm-4 control-label">User Name <span style="color: red">*</span></label>
            <div class="col-sm-6" ng-class="{ 'has-error' : loginForm.userName.$invalid && !loginForm.userName.$pristine}">
                <input type="text" class="form-control" name="userName" ng-model="Login.UserName" placeholder="User Name" ng-trim="false" required />
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Password <span style="color: red">* </span></label>
            <div class="col-sm-6" ng-class="{ 'has-error' : loginForm.Password.$invalid && !loginForm.Password.$pristine}">
                <input type="password" name="Password" class="form-control" ng-model="Login.Password" placeholder="Password" autocomplete="off" required />
                <span style="color: red;" ng-show="invalidCredentials" ng-model="invalidCredentials">Invalid UserName or Password</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-12">
                <input type="submit" value="Submit" class="btn btn-primary" id="submit" ng-disabled="!loginForm.$valid" />
                <input type="reset" value="Cancel" class="btn btn-primary" id="cancel" ng-model="cancel" ng-click="cancelPage()" />
                <a href="#/ForgetPassword" class="margin-forgot">Forgot Password?</a>
            </div>
        </div>
        
        <div class="form-group">
            <div class="alert alert-danger fade in" ng-show="showAlert">
                <a href="javascript:;" class="close closeError" ng-click="showAlert=false" data-dismiss="alert">&times;</a>
                <strong>Please login with Valid Credentials!</strong> <span data-ng-bind="successMsg"></span>
            </div>

        </div>

    </form>

